<%- include('includes/header.ejs') %>
    <h1>Ruta de Chopin Etude No. 11 Op. 25</h1>
    <main>
        <h2>Chopin Etude No. 11 Op. 25</h2>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/YJMIIxm1bGo" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
<%- include('includes/footer.ejs') %>