<%- include('includes/header.ejs') %>
    <h1>Ruta Chopin Etude No 1 Op 10</h1>
    <main>
        <h2>Chopin Etude No 1 Op 10</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/nMM6h9Yf348"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

    <a href="/inicio">Regresar a inicio</a>
<%- include('includes/footer.ejs') %>