<%- include('includes/header.ejs') %>
    <h1>Rutas Posibles</h1>
    <br> Inicio: <br>
    <ul>
        <a href="/inicio"><li>inicio</li></a>
    </ul> 
    <br> Modulo 1: <br>
    <ul>
        <a href="/modulo1/chopinNo5Op25"><li>modulo1/chopinNo5Op25</li></a>
        <a href="/modulo1/chopinNo11Op24"><li>modulo1/chopinNo11Op25</li></a>
    </ul>
    <br> Modulo 2: <br>
    <ul>
        <a href="/modulo2/chopinNo10Op10"><li>modulo2/chopinNo1Op10</li></a>
        <a href="/modulo2/chopinNo3Op10"><li>modulo2/chopinNo3Op10</li></a>
        <a href="/modulo2/ChopinNo4Op10"><li>modulo2/chopinNo4Op10</li></a>
    </ul>
    <br> Modulo 3: <br>
    <ul>
        <a href="/modulo3/piezasRomanticismo"><li>modulo3/piezasRomanticismo</li></a>
        <a href="/modulo3/nuevaPieza"><li>modulo3/nuevaPieza</li></a>
        <a href="/modulo3/piezasMusicales"><li>modulo3/piezasMusicales</li></a>
    </ul>
    <br> Modulo 4: <br>
    <ul>
        <a href="/modulo4"><li>modulo4</li></a>
        <a href="/modulo4/lab1"><li>modulo4/lab1</li></a>
        <a href="/modulo4/lab6"><li>modulo4/lab6</li></a>
    </ul>
    <br> Modulo 5: <br>
    <ul>
        <a href="/users/login"><li>users/login</li></a>
        <a href="/users/signup"><li>users/signup</li></a>
    </ul>
<%- include('includes/footer.ejs') %>