<%- include('includes/header.ejs') %>
    <h1>Pregunta del laboratorio 12</h1>
    <br><strong>¿Qué otros templating engines existen para node?</strong><br>
    <ul>
        <li>Pug</li>
        <li>marko</li>
        <li>Eta</li>
        <li>Handlebars</li>
        <li>nunjucks</li>
        <li>squirrely</li>
        <li>dot</li>
        <li>vash</li>
    </ul>
    <p>(Openbase, s.f.)</p>
    <footer>
        <ul>
            <li>Openbase. (s.f.). 10 Best Node.js HTML Templeating Engine Librarires. Recuperado de: <a href="https://openbase.com/categories/js/best-nodejs-html-templating-engine-libraries" target="_blank">https://openbase.com/categories/js/best-nodejs-html-templating-engine-libraries</a></li>
        </ul>
    </footer>
<%- include('includes/footer.ejs') %>