<%- include('includes/header.ejs') %>
    <h1>Ruta de piezas del romanticismo</h1>
    <main>
        <h2>Estudios de Chopin<h2>
                <main>
                    <h3>Chopin Etude Op 25 No 5</h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/NkdgFfKIWbA" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3>Chopin Etude Op 25 No 11 </h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/YJMIIxm1bGo" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3>Chopin Etude Op 10 No 1 </h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/nMM6h9Yf348" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3>Chopin Etude Op 10 No 3 </h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/JS7KfOyMEIY" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <h3>Chopin Etude Op10 No 4</h3>
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/XIKdCTmcTLs" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
<%- include('includes/footer.ejs') %>
<form action="/modulo3/piezasRomanticismo" method="POST"><label for="calificacion"> ¿Cómo
    puntuarías del 1 al 10 el recital?</label><input type="number" name="calif" required
    min="1" max="10"><input type="submit" value="Enviar_calificacion">
</form>